<div class="layout layout--col gap--space-between">
  <div class="grid grid grid--cols-2">
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--tnums">{{ IDX_0.data[0].uniques }}</span>
        <span class="label">Visitors</span>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--tnums">{{ IDX_0.data[0].pageviews }}</span>
        <span class="label">Pageviews</span>
      </div>
    </div>
  </div>

 {% if trmnl.plugin_settings.custom_fields_values.show_chart == 'true' %}
      <div id="chart-123" style="width: 100%"></div>

      {% render "chart_script", data: IDX_2 %}
      {% else %}
      <table class="table table--condensed">
        <thead>
          <tr>
            <th><span class="label label--small">Page</span></th>
            <th><span class="label label--small">Views</span></th>
          </tr>
        </thead>
        <tbody>
          {% for page in IDX_1.data limit:5 %}
          <tr>
            <td><span class="label">{{ page.pathname | slice: 0, 32 }}</span></td>
            <td><span class="label" data-value-format="true">{{ page.pageviews }}</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
</div>

{% render "title_bar", trmnl: trmnl %}